body { font-family: "Microsoft Yahei"; }
#container { width: 800px; margin: 0 auto; }
a { text-decoration: none; color: brown; }
ul, li { padding: 0; margin: 0; list-style: none; }

.left { float: left; }
.right { float: right; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#header { background: #CCC; padding: 10px 0 10px 10px;}
#header ul, #header li { display: inline-block; }
#header li { border-left: grey 1px solid; padding-left: 5px; }
#header li:first-child { border-left: none; }

.statuses li {
    padding: 10px 0;
    border-bottom: #ddd 1px solid;
    position: relative;
}

.avatar50 {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
}

.weibo-text { line-height: 1.5; }

.c-text {
    float: left;
    padding: 0 10px;
    width: 610px;
}

.forward {
    margin-top: 10px;
    width: 740px;
    position: relative;
}

.forward .c-text {
    width: 588px;
    background: #eee;
    padding: 10px;
    margin-right: 10px;
}

.forward .c-image {
}

.c-image { float: left; }

.img-thumb {
    cursor: url(http://img.t.sinajs.cn/t4/style/images/common/big.cur);
}

.img-middle {
    display: none;
    cursor: url(http://img.t.sinajs.cn/t4/style/images/common/small.cur);
}

.img-origin { display: none; }

.comment-box {
    display: none;
    margin: 5px 0;
}

.comment-box input {
    display: inline-block;
    width: 543px;
}

.comment-box .do-comment {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    color: #7AA5B9;
}

.c-comment {
    display: inline-block;
    float: right;
    color: #7AA5B9;
    margin: 5px;
    cursor: pointer;
}

.c-time {
    display: inline-block;
    float: left;
    color: #7AA5B9;
    margin: 5px;
}

.c-comment:hover {
    color: #0078B6;
}

.repost-box {
    display: none;
    margin: 5px 0;
}

.repost-box input {
    display: inline-block;
    width: 543px;
}

.repost-box .do-repost {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    margin-left: 20px;
    color: #7AA5B9;
}

.c-repost {
    display: inline-block;
    float: right;
    color: #7AA5B9;
    margin: 5px;
    cursor: pointer;
}

.c-repost:hover {
    color: #0078B6;
}
