<!DOCTYPE html>
<html>
  <head>
    <title>{{ title or '微博客户端' }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>

  <body>
    <div id="container">
    <div id="header">
      <ul id="topnav">
        <li><a href="/">我的主页</a></li>
        <li><a href="/rt">我转发的</a></li>
        <li><a href="/fav">我的收藏</a></li>
        <li><a href="/@/weibo">@我的微博</a></li>
        <li><a href="/@/comment">@我的评论</a></li>
      </ul>
    </div>
